<nav id="sidebar" >

  
    <div class="sidebar-header">
        <h3>Sidebar</h3>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" 
     data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    <ul class="list-unstyled components" id="navbarText">
        <p>Menu</p>
        <li>
            <a href="#">DATOS PERSONALES</a>
        </li>
        <li>
            <a href="buscador">BUSCADOR</a>
        </li>
        <li>
            <a href="indice">TABLAS</a>
        </li>
        <li>
            <a href="sugerencia">QUEJAS Y SUGERENCIAS</a>
        </li>
        <li>
          <a href="#">AGREGAR</a>
        </li>
        <li>
            <a href="#">SALIR</a>
        </li>
        
    </ul>
    
</nav>
